@import url(http://fonts.googleapis.com/css?family=Ubuntu:500italic|Leckerli+One|Ultra);

body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url('/assets/fabric.png');
}

#header {
  font-family: 'Ultra', monospace;
  font-size: 570%;
  margin-bottom: 0px;
  color: #5aaad0;
}

#tagline {
  font-family: 'Leckerli One', monospace;
  font-size: 260%;
  margin-top: 0px;
  color: #8a4390;
}

#top {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
/*  background-color: rgba(238, 234, 225, 1.000); */
  text-shadow: rgba(42, 42, 43, 1.000) 1px 1px 6px;
}

.section {
  width: 79%;
  background-color: rgba(52, 53, 55, 1.000);
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  color: rgba(213, 220, 195, 1.000);
  box-shadow: 0 4px 10px 10px rgba(52, 53, 55, 1.000);
  opacity: 0.8;
}

h2.section_head {
  color: rgba(250, 250, 250, 1.000);
  font-size: 200%;
  margin-top: 0.1em;
  margin-bottom: 0.3em;
  text-shadow: rgba(28, 29, 30, 1.000) 3px 3px 2px;
}

h3.section_head {
  color: rgba(250, 250, 250, 1.000);
  font-size: 140%;
  margin-top: 1.4em;
  margin-bottom: 0.3em;
  text-shadow: rgba(28, 29, 30, 1.000) 2px 2px 2px;
}

a:link    { color: rgba(84, 228, 94, 1.000); text-decoration: underline; font-weight: bold; }
a:active  { color: rgba(70, 135, 49, 1.000); text-decoration: underline; font-weight: bold; }
a:visited { color: rgba(70, 135, 49, 1.000); text-decoration: underline; font-weight: bold; }
